# 'development' or 'production'
NODE_ENV= 'development'

# Connection string URI for your MongoDB database
DATABASE=''

# Port that this app runs on
PORT='3005'

# Long random string used to verify JWT tokens for user authentication
JWT_SECRET='somethingsupersecretandsuperlong'

# URL to the API
ROOT_URL='http://localhost:3005'

# URL to the frontend
FRONTEND_URL='http://localhost:8080'

# Used to send verification, registration, and confirmation emails
EMAIL_CONTACT=''
EMAIL_HOST=''
EMAIL_USER=''
EMAIL_PASS=''
EMAIL_PORT=''

# Limits the number of users that can join a team
TEAM_MAX_SIZE=4

# Used to send error messages to your Slack team when the API catches an error
ERROR_SLACK_HOOK='https://hooks.slack.com/services/yourapikey'

# Used to send error messages to your Slack team as a backup of the system audit log (unused at this time)
AUDIT_SLACK_HOOK='https://hooks.slack.com/services/yourapikey'

# UIDs of admins on Slack so they can be @ messaged
ADMIN_UIDS=''

# Slack auto invite address
SLACK_INVITE=''
SLACK_INVITE_TOKEN=''

#Built-in auto pull
GITHUB_SECRET=''
GITHUB_ORIGIN='git@github.com:MasseyHacks/MasseyHacks-V-Registration.git'
GITHUB_BRANCH='master'